.homepage-title {
  text-align: center;
  padding-top: 80px;
  font-weight: 800;
}

.title-description {
  text-align: center;
  padding-top: 30px;
}

.image {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 200px;
  border-radius: 50%;
}

.bio {
  background-color: #C28799;
  padding-top: 10rem;
  padding-bottom: 14rem;

}

.bio-title {
  text-align: center;
  color: white
}

.bio-paragraph {
  text-align: center;
  color: white;
  margin: 40px;
  padding-bottom: 60px;
}
