.homepage-title {
  text-align: center;
  font-weight: 800;
  margin: 0;
  color: rgb(54, 52, 52);

}

.title-description {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(54, 52, 52);
  padding-top: 2rem;
}

.top-logo{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-top: 4rem;
}

.profile{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-top: 3rem;
}

.profile img{
  width: 250px;
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

.logo-picture img {
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
}


.bio {
  background-color: #C28799;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.bio-title {
  text-align: center;
  color: rgb(54, 52, 52);
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.bio-paragraph {
  text-align: center;
  color: white;
  padding-bottom: 3rem;
}

.center-list {
  text-align: center; /* Centers the list itself */
}

.center-list ul {
  display: inline-block; /* Keeps the list centered */
  text-align: left; /* Left-aligns the text inside the list */
  padding-left: 8rem;
  padding-right: 8rem;
}

.top-contact-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-contact-button {
  padding: 20px 20px;
  border-radius: 1.5rem;
  outline: none;
  font-size: 18px;
  color: rgb(54, 52, 52);
  cursor: pointer;
  background-color: white;
  border-color: white ;
}

.top-contact-button:hover {
  padding: 20px 20px;
  border: rgb(54, 52, 52);
  transition: all 0.3s ease-out;
  border-radius: 1.5rem;
  border: 2px solid var(--primary);
}
