.homepage-title {
  text-align: center;
  padding-top: 80px;
  font-weight: 800;
  margin: 0;
}

.title-description {
  text-align: center;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.profile{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh;
}

.profile img{
  width: 250px;
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}


.bio {
  background-color: #C28799;
  padding-top: 10rem;
  padding-bottom:15rem;

}

.bio-title {
  text-align: center;
  color: white
}

.bio-paragraph {
  text-align: center;
  color: white;
  margin: 80px;
  padding-bottom: 0;
}

.top-contact-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.top-contact-button {
  padding: 20px 20px;
  border-radius: 6px;
  outline: none;
  border: #C28799;
  font-size: 18px;
  color: #C28799;
  cursor: pointer;
  background-color: White;
}

.top-contact-button:hover {
  padding: 22px 22px;
  transition: all 0.3s ease-out;
  border-radius: 6px;
  border: 2px solid var(--primary);
}
