.call-to-action-container {
  background-color: #a7ae9e;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: -0.75rem;
  padding: 30px;
  margin-bottom: -30px;
  border-radius: .75rem;
}

.align-items {
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.align-items .item {
  text-align: center;
}

.align-items .project-contact-button {
  margin-left: 80px;
}

.project-contact-button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: #C28799;
  font-size: 18px;
  color: #C28799;
  cursor: pointer;
  background-color: white;
}

.project-contact-button:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #C28799;
  border-radius: 4px;
  border: 2px solid var(--primary);
}
