.btn {
  border-radius: 9999px;
  border-top-color: #C28799;
  border-right-color: #F8DC6C;
  border-bottom-color: #FFB59B;
  border-left-color: #A7AE9E;
  padding: .8rem;
  color: #C28799;
  font-size: 18px;
  cursor: pointer;
  background-color: white;
}

.btn:hover {
  transition: all 0.3s ease-out;
  background-color: #C28799;
  color: white;
}


