.skill-section {
  margin: 0 auto;
  margin-top: -14rem;
  min-height: 250px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.skill-box {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  width: calc(30%);
  min-height: 250px;
  border: 1px;
  box-shadow: 0 5px 10px #a7ae9e;
  border-color: #a7ae9e;
  border-radius: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.skill-section .skill-box .skill-title {
  padding: 10px;
  text-align: center;
}

.skill-list-title {
  color: black;
  font-weight: bolder;
  padding-bottom: 5px;
  text-align: center;
}

.skill-list-title {
  display: table;
  margin: 0px auto 0px auto;
}

.skill-description {
  padding: 20px;
  text-align: center;
}

ul.skill-list {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 960px) {
  .skill-box {
    width: calc(90%);
  }
}
