* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}

.homepage,
.contact,
.producing {
  font-size: 3rem;
}

.title {
  text-align: center;
  padding-top: 80px;
  font-weight: 800;
}

.description {
  text-align: center;
  padding-top: 30px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
